nav{display:flex; background-color: #006BB6 ; font-family: Arial, Helvetica; font-size: 1.5em, sans-serif;}
nav div{padding: 10px}
nav a{font-size: 150%; color: #FFFFFF; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
nav a:hover{color:#ffa500}
section{display: flex;}
section a{padding: 15px}
.small{flex-direction: column;}
section a:hover{border:1px solid #ffa500}
.nyk{
    width:10%
}
.videos1{
    display: flex;
    flex-direction: column;}
div{
    display: flex;
}
span{display:inline}
td img{
    width: 100px;
}
.photo{width: 100px;}
iframe:hover{border: 3px solid #ffa500;}
body{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; background-color: #f9f9f9;}
@media only screen and (max-width:850px) {
    nav{flex-direction: column;}
    .nyk{width:30%; height:30%}
    .big, .small{flex-direction: column; width:30%; height:30%;}
    .bvid{width:400%; height:400%}
    section a:hover{border:1px solid #ffa500}
    nav a:hover{color:#ffa500}
    td img{width:80%; height: 80%}
}
@media only screen and (max-width:850px) {
div{flex-direction: column;}
.willis{width: 90%;}
}
td img{
    width: 80%
}
th, td{
    border:1px solid #000000;
}
#moreText {
    display: none;}