body{font-family: Georgia, 'Times New Roman', Times, serif; background-color: #000000; color:#FFFFFF;}
h1, h2 {color:blueviolet;}
.evenrow {background-color:rgb(221, 228, 228);}
h1{font-size: 1.5em; color:#f5f5dc;}
h2{font-size: 1.2em;}
nav{background-color: #2f4f4f; padding: 10px; margin-bottom: 30px;}
nav a{color:#F57D1f; background-color: #2f4f4f;}
nav a:hover{background-color: #FF0000;}
a{color: #FFFFFF;}
.img1{float:left; margin-right:10px;}
.clear{clear:both;}
.quote{float:right; margin-left: 10px;}
.ns{float:right; margin-right: 10px;}
.d1{display: flex; margin: 10px;background-color: #556b2f; border-radius: 20px;}
.d1 div{margin: 10px; padding:20px}
.d2{display:flex; margin: 10px;background-color: #000080; border-radius: 20px;}
.d2 div{margin: 10px; padding:40px; background-color: #000080;border-radius: 20px;}